#extension-container {
  background-color: #faf5f5;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10%;
  box-shadow: 10px 5px 5px #ddd;
  margin-bottom: 50px;
  position: relative;
  width: 100%;
}

#header-container {
  height: 50px;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.extension-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.extension-title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}

/* Additional styles to ensure content displays correctly */
#summary-container {
  margin-top: 10px;
}
