@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/antd/4.16.13/antd.min.css');

body, html, div, p, button {
  font-family: 'DM Sans', sans-serif !important;
}

#extension-container {
  background-color: #faf5f5;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #ddd;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

#header-container {
  height: 50px;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.extension-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.extension-title {
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  margin: 0;
}

#summary-btn {
  background-color: #784dca;
  color: #fff;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 2px 0 rgba(109, 53, 253, 0.09);
  transition: background-color 0.3s ease;
  font-size: 14px;
  margin-top: 12px;
}

#summary-btn:hover {
  background-color: #56329c;
}

#copy-btn {
  background-color: #784dca;
  color: #fff;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 2px 0 rgba(109, 53, 253, 0.09);
  transition: background-color 0.3s ease;
  font-size: 14px;
  margin-top: 12px;
}

#copy-btn:hover {
  background-color: #56329c;
}

#summary-container {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.ant-spin .anticon {
  font-size: 16px;
  color: #fff;
}
